#header {
  display: none;
}

#details {
  display: none;
}

.detail {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.jumbotron {
  color: white;
  background-image: url("train.jpg");
  opacity: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
