#header {
  display: none;
}

#details {
  display: none;
}

.detail {
  border: 3px solid gray;
  padding: 5px;
  margin: 5px;
}

.jumbotron {
  color: white;
  background-image: url("train.jpg");
  opacity: 50%;
}
